// Loader.module.scss
@use '../../../styles/responsive.scss' as *;

.fullScreenLoader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loaderContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.spinner {
  display: inline-block;
  position: relative;

  &.small {
    width: 40px;
    height: 40px;
  }

  &.medium {
    width: 64px;
    height: 64px;
  }

  &.large {
    width: 80px;
    height: 80px;
  }

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    border: 4px solid #14B8A6;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #14B8A6 transparent transparent transparent;
  }

  div:nth-child(1) {
    animation-delay: -0.45s;
  }

  div:nth-child(2) {
    animation-delay: -0.3s;
  }

  div:nth-child(3) {
    animation-delay: -0.15s;
  }

  &.small div {
    width: 32px;
    height: 32px;
    top: 4px;
    left: 4px;
  }

  &.medium div {
    width: 52px;
    height: 52px;
    top: 6px;
    left: 6px;
  }

  &.large div {
    width: 64px;
    height: 64px;
    top: 8px;
    left: 8px;
  }
}

.message {
  margin: 0;
  font-size: 0.875rem;
  color: #6b7280;
  text-align: center;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
