// Switch.module.scss
.switch {
  position: relative;
  display: inline-block;
  cursor: pointer;
  
  &.small {
    width: 44px;
    height: 24px;
    
    .slider {
      &:before {
        height: 18px;
        width: 18px;
      }
      
      &:checked:before {
        transform: translateX(20px);
      }
    }
  }
  
  &.medium {
    width: 54px;
    height: 30px;
  }
  
  &.large {
    width: 64px;
    height: 36px;
    
    .slider {
      &:before {
        height: 30px;
        width: 30px;
      }
      
      &:checked:before {
        transform: translateX(28px);
      }
    }
  }
}

.input {
  opacity: 0;
  width: 0;
  height: 0;
  
  &:checked + .slider {
    background-color: var(--primary-color);
  }
  
  &:checked + .slider:before {
    transform: translateX(24px);
  }
  
  &:disabled + .slider {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  &:focus + .slider {
    box-shadow: 0 0 0 3px var(--primary-color-alpha);
  }
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--border-color);
  border-radius: 30px;
  transition: all 0.3s ease;
  
  &:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

// Hover effects
.switch:hover .slider {
  background-color: var(--primary-color-light);
}

.switch:hover .input:checked + .slider {
  background-color: var(--primary-color-dark);
}